<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geneyp.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.geneyp.entity.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="card_img" jdbcType="VARCHAR" property="cardImg"/>
    </resultMap>

</mapper>
